@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Victor+Mono:wght@300;600&display=swap');

@font-face {
  font-family: 'Victor Mono';
  src: url('https://fonts.googleapis.com/css2?family=Victor+Mono:wght@300;600&display=swap');
}


.bg-with-image {
  background-image: url('../public/img1.jpg');
  background-size: cover;
}

.background {
  background-color: #f0efed;
}

body {
  background-color: #f0efed;
}

.contact:hover p {
  display: none;
}

.contact:hover:before {
  content: 'reasearcher@hilarywatts.com';
  font-size: 20px;
}

.custom-cursor {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: fixed;
  background-color: #4d7c0f;
  transform: translate(-50%, -50%);
  pointer-events: none; /* Ensure the cursor doesn't interfere with mouse interactions */
  z-index: 9999;
  @media (max-width: 640px) {
    display: none;
  } /* Bring the cursor above other elements */
}
