@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Antic Slab';
  src: url('public/fonts/AnticSlab-Regular.ttf') format('truetype'); /* TTF font format */
  font-weight: normal; /* Specify the default font weight */
  font-style: normal;
}

@font-face {
  font-family: 'Zilla Slab';
  src: url('public/fonts/ZillaSlab-Regular.ttf') format('truetype'); /* TTF font format */
  font-weight: 300; /* Specify the default font weight */
  font-style: normal;
}

.bg-with-image {
  background-image: url('public/img1.jpg');
  background-size: cover;
}

.background {
  background-color: #f0efed;
}

body {
  background-color: #f0efed;
}

.contact:hover p {
  display: none;
}

.contact:hover:before {
  content: 'reasearcher@hilarywatts.com';
  font-size: 20px;
}

.custom-cursor {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: fixed;
  background-color: #4d7c0f;
  transform: translate(-50%, -50%);
  pointer-events: none; /* Ensure the cursor doesn't interfere with mouse interactions */
  z-index: 9999;
  @media (max-width: 640px) {
    display: none;
  } /* Bring the cursor above other elements */
}

.skip-link {
  position: absolute;
  left: -9999px; /* Move off-screen */
  top: auto; /* Position off-screen */
  width: 1px; /* Set a small width */
  height: 1px; /* Set a small height */
  overflow: hidden; /* Hide the link content */
}

.skip-link:focus {
  position: static; /* Return to normal flow when focused */
  width: auto; /* Restore width */
  height: auto; /* Restore height */
}
